* {
    box-sizing: border-box;   
}

body {
    background: #23252C;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 317px;
    background: #1A1B21;
    border-radius: 10px;
}

header {
    text-align: center;
    line-height: .8;
    padding-bottom: 15px;
}

.headshot {
    width: 317px;
    height: 317px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.name {
font-size: 25px;   
}

.title {
    font-weight: 400;
    font-size: 13px;
    color: #F3BF99;
}

.website {
    font-size: 10px;
}


.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 33px;
    
}

.email-button, .linkedin-button {
    width: 115px;
    height: 34px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.email-button {
    margin-right: 17px;
    background: #FFFFFF;
    color: black;
}
.linkedin-button {
    background: #5093E2;
    color: #FFFFFF;
}

.email-icon, .linkedin-icon {
    object-fit: none;
    padding-right: 8px;
}

main {
    padding: 0 34px;
}

main > h3 {
    font-size: 16px;
    color: #F5F5F5
}

main > p {
    font-size: 10px;
    line-height: 150%;
    color: #DCDCDC;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 55px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

footer > img {
    object-fit: none;
}